*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.version{
	position: absolute;
	color: #fff;
	right: 20px;
	bottom: 20px;
}
.backGround{
	background: linear-gradient(135deg,
    #2b0f1a,
    #3a1223,
    #1a0f2e
	);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.playGround{
	width: 80%;
	height: 90%;
	border:1px solid #fff;
	display: flex;
}
.hotNotes{
	border-right: 1px solid #fff;
	height: 100%;
	width: 20%;
	padding-left: 45px;
	padding-top: 30px;
	background: rgba(0, 0, 0, 0.2);
	overflow-y: auto;
}
.currentNote{
	padding: 30px;
	height: 100%;
	width: 80%;
	background: rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	gap: 12px;
	position: relative;
}
.hotNotes ul{
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.hotNotesTitles{
	font-size: 24px;
	color: #fff;
	list-style-type: number;
	cursor: pointer;
	font-style: italic;
	position: relative;
	margin-right: 5px;
}
.currentNoteTitle{
	color: #fff;
	font-size: 24px;
	font-style: italic;
}
.currentNoteContent{
	color: #fff;
	font-size: 24px;
	padding-right: 15%;
}

.createNoteButton{
	width: 100px;
	height: 50px;
	background: orangered;
	border-radius: 10px;
	font-size: 24px;
	font-weight: bolder;
	border: 1px solid #fff;
	color: #fff;
	position: absolute;
	right: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.saveButton{
	cursor: pointer;
	width: 100px;
	background: royalblue;
	height: 50px;
	position: absolute;
	right: 125px;
	border: 1px solid #fff;
	border-radius: 10px;
	display: flex;
	color: #fff;
	justify-content: center;
	align-items: center;
}
.titleEnter{
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
	height: 50px;
	color: #fff;
	width: 40%;
	display: block;
	padding: 10px;
	font-size: 24px;
}
.contentGround{
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
	resize: none;
	height: auto;
	color: #fff;
	padding: 10px;
	width: 95%;
	margin-top: 10px;
	font-size: 24px;
	overflow-y: hidden;

}
.hotTitlesContainer{
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	position: relative;
}
.delButton{
	cursor: pointer;
	width: 25px;
	height: 25px;
	background: orangered;
	border: 1px solid #fff;
	border-radius: 10px;
	position: absolute;
	right: 0;
	top: 1.5px;
}
.searchField{
	background: transparent;
	width: 95%;
	height: 5%;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	padding: 5px;
	font-size: 18px;
	padding-bottom: 0;

}